#one, #two, #three {
    display: none;
}

.bg {
    background-color: darkblue;
    color: white;
    text-align: center;
}

h1 {
    text-align: center;
}

.col-md-6 {
    text-align: center;
}

p {
    text-align: center;
}

